    <div class="container-fluid" >
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="background-color: #1f2833">
                    <div class="header">
                        <h3 class="title" style="color: white; border-bottom: solid white ">CREATE NEW ORDER</h3>
                        <p class="category">Write information about your <a style="color:#4ec5db" >client</a>.</p>
                    </div>
                  
                    <div class="container">
                    <form>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label style="color: #4ec5db ">First Name</label>
                                        <input type="text" class="form-control" style="background-color:#c3eff7">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label style="color: #4edbc6 ">Last Name</label>
                                        <input type="text" class="form-control " style="background-color:#b7fff4">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1" style="color:#5ee0ae">Phone number</label>
                                        <input type="email" class="form-control " style="background-color:#bcffe5">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label style="color: #4ec5db ">Address</label>
                                            <input type="text" class="form-control" style="background-color:#c3eff7">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label style="color: #4edbc6 ">ZIP Code</label>
                                            <input type="text" class="form-control " style="background-color:#b7fff4">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1" style="color:#5ee0ae">City</label>
                                            <input type="email" class="form-control " style="background-color:#bcffe5">
                                        </div>
                                    </div>
                                </div>
                                <h3 class="title" style="color: white; border-bottom: solid white ">ORDER INFORMATION</h3>
                                <p class="category">Write information about the <a style="color:#4ec5db" >order</a>.</p>
                                <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label style="color: #4ec5db ">Order id</label>
                                                <input type="text" class="form-control" style="background-color:#c3eff7">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label style="color: #4edbc6 ">Name of the product</label>
                                                <input type="text" class="form-control " style="background-color:#b7fff4">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1" style="color:#5ee0ae">Number of products</label>
                                                <input type="email" class="form-control " style="background-color:#bcffe5">
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <label style="color: #4ec5db ">Additional information</label>
                                    <textarea rows="5" class="form-control " style="background-color:#c3eff7; margin-bottom: 3%">
                                         
                                    </textarea>
                                    <div class="text-center">
                                            <button type="submit" class="btn btn-info btn-fill btn-wd" style="margin-bottom:3%">ADD ORDER</button>
                                        </div>
                            
                    </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
