<div class="container-fluid">
  <div class=" card" style="background-color: #1f2833">
        <div class="header" > 
                <h3 class="title" style="color: white; border-bottom: solid white ">LIST OF THE ORDERS</h3>
            </div>

           
                <div class="row">

                    <div class="col-sm-5">
                            <div class="card" style="margin-left:5%; padding-left:3%; padding-right:3%">
                                    <div class="card-header"  >
                                      <h4 style="padding-top:3%; color: #1f2833 "  >ORDER ID: </h4>
                                      <p class="card-text" style="border-bottom: solid #1f2833 ">name of the product: </p>
                                    </div>
                                    <p> Information about the client: </p>
                                    <ul class="list-group list-group-flush" style="padding:2%">
                                      <li class="list-group-item" style="background-color: #c3eff7">First name:</li>
                                      <li class="list-group-item" style="background-color: #c3f7f0">Last name:</li>
                                      <li class="list-group-item" style="background-color: #c3f7e6">Phone number:</li>
                                      <li class="list-group-item" style="background-color: #c3f7dc">Address:</li>
                                      <li class="list-group-item" style="background-color: #c3f7ce">Additional description:</li>
                                    </ul>
                              
                                  </div>
                


                </div>
               

</div>
</div>  