<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-5">
            <div class="card card-user">
                <div class="image">
                    <img src="assets/img/background.jpg" />
                </div>
                <div class="content" style="background-color: #1f2833">
                    <div class="author">
                        <img class="avatar border-white" src="assets/img/faces/face-2.jpg" />
                        <h4 class="title" style="color: #4ec5db ">John Koecher<br />
                            <a href="#"><small>@johnkoecher</small></a>
                        </h4>
                    </div>
                    <p class="description text-center" style="color: #4ec5db ">
                        <b> Group number: </b> CR/APA3
                        <br>
                        <span style="color: #435770 "> Fixed-term  </span>
                    </p>
                </div>
                <hr>
                <div class="text-center" style="border: #435770 3px ">
                    <div class="row">
                        <p stylle="margin:3%"> +358 41 8093063 </p>
                        <p stylle="margin:3%"> Don't hesitate to contact me! </p>
                    </div>
                </div>
            </div>
            <div class="card" style="background-color: #1f2833">
                <div class="header">
                    <h4 class="title" style="color: #4ec5db  ">Team Members</h4>
                </div>
                <div class="content">
                    <ul class="list-unstyled team-members">
                        <li>
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="avatar">
                                        <img src="assets/img/faces/face-0.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                    </div>
                                </div>
                                <div class="col-xs-6" style="color: #4edbc6 ">
                                    DJ Khaled
                                    <br />
                                    <span class="text-muted" ><small>CR/APA2</small></span>
                                </div>

                                <div class="col-xs-3 text-right">
                                    <button class="btn btn-sm btn-success btn-icon"><i class="fa fa-envelope"></i></button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="avatar">
                                        <img src="assets/img/faces/face-1.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                    </div>
                                </div>
                                <div class="col-xs-6" style="color: #4edbc6 ">
                                    Creative Tim
                                    <br />
                                    <span class="text-muted" ><small>CR/APA2</small></span>
                                </div>

                                <div class="col-xs-3 text-right">
                                    <button class="btn btn-sm btn-success btn-icon"><i class="fa fa-envelope"></i></button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="avatar">
                                        <img src="assets/img/faces/face-3.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                    </div>
                                </div>
                                <div class="col-xs-6" style="color: #4edbc6 ">
                                    Flume
                                    <br />
                                    <span class="text-muted" ><small>CR/APA3</small></span>
                                </div>

                                <div class="col-xs-3 text-right">
                                    <button class="btn btn-sm btn-success btn-icon"><i class="fa fa-envelope"></i></button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-7">
            <div class="card" style="background-color:  #1f2833 ">
                <div class="header">
                    <h4 class="title" style="color: #4ec5db ">Edit Profile</h4>
                </div>
                <div class="content">
                    <form>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label style="color: #4ec5db ">Department</label>
                                    <input type="text" class="form-control" style="background-color:#c3eff7" disabled placeholder="Department" value="CR/APA3">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label style="color: #4edbc6 ">Username</label>
                                    <input type="text" class="form-control " style="background-color:#b7fff4" placeholder="Username" value="johnkoecher">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" style="color:#5ee0ae">Email address</label>
                                    <input type="email" class="form-control " style="background-color:#bcffe5" placeholder="Email">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label style="color: #4ec5db ">First Name</label>
                                    <input type="text" class="form-control " style="background-color:#c3eff7" placeholder="Company">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label style="color: #4edbc6 ">Last Name</label>
                                    <input type="text" class="form-control t" style="background-color:#bcffe5" placeholder="Last Name">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label style="color: #4ec5db ">Address</label>
                                    <input type="text" class="form-control " style="background-color:#c3eff7" placeholder="Home Address">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label style="color: #4ec5db ">City</label>
                                    <input type="text" class="form-control " style="background-color:#c3eff7" placeholder="City" value="Mikkeli">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label style="color: #4edbc6 ">Country</label>
                                    <input type="text" class="form-control " style="background-color:#b7fff4" placeholder="Country" value="Finland">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label style="color:#5ee0ae">Postal Code</label>
                                    <input type="number" class="form-control " style="background-color:#bcffe5" placeholder="ZIP Code" value="50100">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label style="color: #4ec5db ">Phone number</label>
                                    <input type="text" class="form-control " style="background-color:#c3eff7" placeholder="Phone number">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label style="color: #4ec5db ">About Me</label>
                                    <textarea rows="5" class="form-control " style="background-color:#c3eff7" placeholder="Here can be your description">
                                            Lorem ipsum dolor sit amet, eam ei recusabo praesent. Cum ea tantas rationibus.
                                             Ut quaestio inimicus cum. Ea quem scripta
                                            qui. Eum at virtute percipit percipitur. Ut singulis intellegam assueverit vix. Et mei
                                            utroque admodum partiendo, ad ceteros periculis sententiae pri.
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-info btn-fill btn-wd">Update Profile</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>