<div>

    <div class="row">

        <div class="col-md-12">
            <div class="card" style="background-color: #1f2833">
                <div class="header" style="background-color: #1f2833; color: #4edbc6; border: #4edbc6 ">
                    <h1 class="title" style=" color: #4edbc6">DESCRIPTION OF THE DEPARTMENT</h1>

                </div>
                <div class="content">
                    <div class="container ">
                        <div class="row">
                            <div class="col-sm-5 ">
                                <img src="assets/img/company.jpg" height="650" width="460">
                            </div>
                            <div class="col-sm-7 ">
                                <div class="card" style="background-color: white; opacity: 0.7; border-radius:5; padding: 2%">
                                    <h3 style="color: #4edbc6"> Who are we? </h3>
                                    Lorem ipsum dolor sit amet, eam ei recusabo praesent. Cum ea tantas rationibus. Ut quaestio inimicus cum. Ea quem scripta
                                    qui. Eum at virtute percipit percipitur. Ut singulis intellegam assueverit vix. Et mei
                                    utroque admodum partiendo, ad ceteros periculis sententiae pri. Est te ornatus alienum.
                                    Aeque congue consequat usu an, in mel possim invenire, ex mollis nostrud admodum his.
                                    Viris nobis concludaturque no sit, ocurreret quaerendum theophrastus cum id. Has no iudico
                                    mucius meliore, idque option regione vis cu. Vis dicam fastidii te, ut vitae detraxit
                                    vis. Ius clita persecuti no, quo ne posse liber aliquam, cu nec eros everti lucilius.
                                    Vocent vituperata nam no. Libris ridens accommodare per in, in primis lobortis nec. His
                                    an docendi facilisi, per erat mollis consulatu at. <br>
                                    Ut probo tamquam pri. Eu alii expetenda
                                    mnesarchum vis. Duo id nibh possit appareat, impetus adversarium ei eum, habeo partem
                                    vidisse at per. Id duo minim quaeque aliquid, nihil voluptua perpetua ad nec, et usu
                                    numquam pertinacia temporibus. Id nam quidam quaerendum, eam elitr homero et, laudem
                                    accumsan et nam. Cu cum quodsi detraxit abhorreant, vel ad brute appareat petentium,
                                    causae sadipscing et eos. Vim decore utamur an, aliquam sententiae adipiscing eum ei.
                                    Dico dolor ius ut, eam minim error eu. Oratio denique ne vel, id legimus dolores menandri
                                    eam. Cum ei quidam singulis definitionem, at pro doming nonumes quaerendum, id sit liber
                                    harum forensibus. Has no iudico mucius meliore, idque option regione vis cu. Vis dicam
                                    fastidii te, ut vitae detraxit vis. Ius clita persecuti no, quo ne posse liber aliquam,
                                    cu nec eros everti lucilius. Vocent vituperata nam no. Libris ridens accommodare per
                                    in, in primis lobortis nec. His an docendi facilisi, per erat mollis consulatu at. Ut
                                    probo tamquam pri.
                                </div>
                                    <div class="row">
                                            <div class="col-sm-4">
                                                    <span class="fa-stack fa-lg" style="font-size: 60px; margin-left: 18% ">
                                                            <i class="fa fa-xxl fa-circle-thin fa-stack-2x" style="color: #4ec5db"></i>
                                                            <i class="fa fa-lock fa-stack-1x" style="color: #4ec5db"></i>
                                                          </span>
                                                         <br> <p class="text-center" style="color:#4ec5db">secure</p>
                                            </div>
                                            <div class="col-sm-4">
                                                    <span class="fa-stack fa-lg text-center" style="font-size: 60px; margin-left: 18%">
                                                            <i class="fa fa-xxl fa-circle-thin fa-stack-2x" style="color: #4edbc6"></i>
                                                            <i class="fa fa-child fa-stack-1x" style="color: #4edbc6"></i>
                                                          </span>
                                                          <br> <p class="text-center" style="color:#4edbc6">efficient</p>
                                            </div>
                                            <div class="col-sm-4">
                                                    <span class="fa-stack fa-lg" style="font-size: 60px; margin-left: 18%">
                                                            <i class="fa fa-xxl fa-circle-thin fa-stack-2x" style="color: #5ee0ae"></i>
                                                            <i class="fa fa-thumbs-up fa-stack-1x" style="color: #5ee0ae"></i>
                                                          </span>
                                                          <br> <p class="text-center" style="color:#5ee0ae">reliable</p>
                                            </div>
                                            </div>
                                

                              
                            </div>
                          
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>