<div>
        
            <div class="row">
        
                <div class="col-md-12">
                    <div class="card" style="background-color: white">
                        <div class="header" style="background-color: white; ">
                            <h1 class="title" style=" color: #1f2833">PARTICIPATE IN OUR EVENT!</h1>
        
                        </div>
                        <div class="content">
                            <div class="container ">
                                <div class="row">
                                    <div class="col-sm-3 ">
                                        <img src="assets/img/bbq.jpg" height="325" width="230">
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="card" style="background-color: white; opacity: 0.7; border-radius:5; padding: 2%">
                                            <h3 style="color: #1f2833"> Where and when? </h3>
                                            Lorem ipsum dolor sit amet, eam ei recusabo praesent. Cum ea tantas rationibus. Ut quaestio inimicus cum. Ea quem scripta
                                            qui. Eum at virtute percipit percipitur. Ut singulis intellegam assueverit vix. Et mei
                                            utroque admodum partiendo, ad ceteros periculis sententiae pri. Est te ornatus alienum.
                                            Aeque congue consequat usu an, in mel possim invenire, ex mollis nostrud admodum his.
                                            Viris nobis concludaturque no sit, ocurreret quaerendum theophrastus cum id. Has no iudico
                                            mucius meliore, idque option regione vis cu. Vis dicam fastidii te, ut vitae detraxit
                                            vis. Ius clita persecuti no, quo ne posse liber aliquam, cu nec eros everti lucilius.
                                            Vocent vituperata nam no. Libris ridens accommodare per in, in primis lobortis nec. His
                                            an docendi facilisi, per erat mollis consulatu at. <br>
                                        
                                   
                                        </div>
                                           
        
                                      
                                    </div>
                                    
                                    <button class="btn btn-outline-success" style="margin-left: 30%" type="button"> JOIN NOW! </button>
                                  
                                </div>
        
                            </div>
                        </div>
                    </div>
                </div>
        
        
            </div>

            <div>
                    
                        <div class="row">
                    
                            <div class="col-md-12">
                                <div class="card" style="background-color: white">
                                    <div class="header" style="background-color: white; ">
                                        <h1 class="title" style=" color: #1f2833">NOT-WORKING DAY 26TH OF MARCH!</h1>
                    
                                    </div>
                                    <div class="content">
                                        <div class="container ">
                                            <div class="row">
                                               
                                                <div class="col-sm-8">
                                                    <div class="card" style="background-color: white; opacity: 0.7; border-radius:5; padding: 2%">
                                                        <h3 style="color: #1f2833"> Where and when? </h3>
                                                        Lorem ipsum dolor sit amet, eam ei recusabo praesent. Cum ea tantas rationibus. Ut quaestio inimicus cum. Ea quem scripta
                                                        qui. Eum at virtute percipit percipitur. Ut singulis intellegam assueverit vix. Et mei
                                                        utroque admodum partiendo, ad ceteros periculis sententiae pri. Est te ornatus alienum.
                                                        Aeque congue consequat usu an, in mel possim invenire, ex mollis nostrud admodum his.
                                                        Viris nobis concludaturque no sit, ocurreret quaerendum theophrastus cum id. Has no iudico
                                                        mucius meliore, idque option regione vis cu. Vis dicam fastidii te, ut vitae detraxit
                                                        vis. Ius clita persecuti no, quo ne posse liber aliquam, cu nec eros everti lucilius.
                                                        Vocent vituperata nam no. Libris ridens accommodare per in, in primis lobortis nec. His
                                                        an docendi facilisi, per erat mollis consulatu at. <br>
                                                    
                                               
                                                    </div>
                                                       
                    
                                                  
                                                </div>
                                                <div class="col-sm-4 ">
                                                        <img src="assets/img/easter.jpg" height="260" width="360">
                                                    </div>
                                                
                                                <button class="btn btn-outline-success" style="margin-left: 30%" type="button"> JOIN NOW! </button>
                                              
                                            </div>
                    
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                    
                        </div>